ovos-skill-alerts
ovos-skill-date-time
ovos-skill-fallback-unknown
ovos-skill-volume

# No PyPi release
{% if (ansible_architecture == "x86_64") or (ansible_architecture == "aarch64") %}
git+https://github.com/OpenVoiceOS/ovos-skill-ggwave.git
{% endif %}
git+https://github.com/OpenVoiceOS/skill-ovos-boot-finished.git
git+https://github.com/OpenVoiceOS/skill-ovos-naptime.git
git+https://github.com/OpenVoiceOS/skill-ovos-weather.git
git+https://github.com/OpenVoiceOS/ovos-solver-plugin-openai-persona
git+https://github.com/mikejgray/skill-meal-plan
git+https://github.com/OpenVoiceOS/skill-ovos-spelling
git+https://github.com/OpenVoiceOS/skill-ovos-ip
git+https://github.com/OpenVoiceOS/skill-ovos-wikipedia

# Non-OVOS libraries
skill-easter-eggs
